<ion-card style="padding:15px">
  <ion-list>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input [(ngModel)]="account.email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [(ngModel)]="account.password" type="password"></ion-input>
    </ion-item>

  </ion-list>

  <button ion-button full (click)="navigateToPage('RegisterPage')">Register</button>
  <button ion-button full (click)="login()">Inbox</button>

</ion-card>
